h1 {
   color:Tomato;
   font family:Violet;
   font size:26px;
   
   <p style="color:DodgerBlue;">Lorem ipsum...</p> 
      
}
h2 {
   color:Tomato;
   font family:blue;
   font size:48px;
   
}

p{
color:Tomato;
   font family:blue;
   font size:18px;
   
